$radius-sm: 4px;
$radius-mid: 6px;
$radius-lg: 8px;
$radius-xl: 16px;
$radius-xxl: 32px;
$radius-circle: 50%;
$box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.19);
$bg-color: #f5f7fa;
$font-color-light: #555;
